body 
{
    max-width: 1200px;
    margin: auto;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#branding
{
    font-size: 25px;
    color: lightseagreen;
    display: inline-block;
    padding-top: 20px;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1200px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: lightseagreen;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid lightseagreen;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.btn
{
    background-color: lightseagreen;
    padding: 12px 26px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid lightseagreen;
    color: white;
    font-size: 14px;
    font-weight: 550;
    margin-bottom: 10px;
    cursor: pointer;
}

#regbtn
{
    margin-left: 975px;
}

#backbtn
{
    background-color: white;
    color: lightseagreen;
}