/*CSS style sheet for login.html*/

body
{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#form
{
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 10px;
    padding-inline-start: 40px;
    padding-block-end: 20px;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#branding
{
    font-size: 25px;
    color: lightseagreen;
    display: inline-block;
    padding-top: 20px;
}

#sideimg
{
    position: absolute;
    width: 320px;
    height: 300px;
    margin-top: -90px;
    margin-left: 500px;
}

#heading
{
    font-size: 18px;
    margin-top: 10px;
}

.input
{
    border: 1px solid lightslategray;
    padding: 10px;
    margin: 15px auto;
    border-radius: 5px;
}

.input:focus
{
    outline: none;
    border:2px solid lightseagreen;
}

#email
{
    padding-inline-end: 215px;
}

#password1
{
    margin-left: 10px;
}

#shpasstext
{
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    margin-bottom: auto;
}

.btn
{
    background-color: lightseagreen;
    padding: 12px 26px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid lightseagreen;
    color: white;
    font-size: 14px;
    font-weight: 550;
    margin-bottom: 10px;
    cursor: pointer;
}

#subbtn
{
    margin-left: 210px;
}

#signupbtn
{
    background-color: white;
    color: lightseagreen;
}