/*CSS style sheet for login.html*/

body
{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#form
{
    background-color: white;
    border: 1px solid lightslategray;
    border-radius: 10px;
    padding-inline-start: 40px;
    padding-block-end: 20px;
    margin-top: 150px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#branding
{
    font-size: 25px;
    color: lightseagreen;
    display: inline-block;
    padding-top: 20px;
}

#sideimg
{
    position: absolute;
    width: 260px;
    height: 200px;
    margin-top: -120px;
    margin-left: 550px;
}

#heading
{
    font-size: 18px;
    margin-top: 10px;
}

.input
{
    border: 1px solid lightslategray;
    padding: 10px;
    margin: 15px auto;
    border-radius: 5px;
}

.input:focus
{
    outline: none;
    border:2px solid lightseagreen;
}

.btn
{
    background-color: lightseagreen;
    padding: 12px 26px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid lightseagreen;
    color: white;
    font-size: 14px;
    font-weight: 550;
    margin-bottom: 10px;
    cursor: pointer;
}

#regbtn
{
    margin-left: 210px;
}

#dispbtn
{
    background-color: white;
    color: lightseagreen;
}

#loutbtn
{
    background-color: white;
    color: red;
    position: absolute;
    margin-left: 375px;
    margin-top: -200px;
    border: none;
    z-index: 1;
}

#logoutimg
{
    position: absolute;
    z-index: 2;
    margin-left: 387px;
    margin-top: -185px;
    width: 10px;
    height: 10px;
}