{% load static %}
{% block content %}

<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE html>

    <head>

        <title>Blood Bank | Userdetails</title>
        <!--Referring the css style sheet, styles.css file-->
        <link rel="stylesheet" href="{% static 'css/display.css' %}" type="text/css">
    
    </head>

    <body>
        <h3 id="branding">Blood Bank >> Home >> Userdetails</h3>
        <br><br>
        <p>
        {% csrf_token %}
        <!--User Details-->
        <table class="styled-table">
            <tr>
                <th>Name</th>
                <th>Blood group</th>
                <th>Date of Birth</th>
                <th>Email ID</th>
                <th>Contact</th>
            </tr>
            {% for i in reg_users %}
            <tr>
                <td>{{i.first_name}}</td>
                <td>{{i.blood}}</td>
                <td>{{i.dob}}</td>
                <td>{{i.email}}</td>
                <td>{{i.contact}}</td>
            </tr>
            {% endfor %}
        </table>
        </p>
    </body>

</html>

{% endblock %}