{% load static %}

{% block content %}

<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE html>

    <head>

        <title>Registration form</title>
        <!--Referring the css style sheet, styles.css file-->
        <link rel="stylesheet" href="{% static 'css/styles1.css' %}" type="text/css">
    
    </head>

    <body>

        <!--Form to get user data-->
        <form id="form" action= "register" method = "post">

            {% csrf_token %}

            <h3 id="branding">Registration form</h3>
            <p id="heading">Fill up the form to register</p>
            <br/>
            <!--Profile pic-->
            <image id="profilepic" src="https://images.assetsdelivery.com/compings_v2/salamatik/salamatik1801/salamatik180100019.jpg" />
            <br/><br/>
            <!--First name-->
            <input class="input" name="name" type="text" maxlength="10" id="firstname" placeholder="First name" required>
            <!--Blood group-->
            <input class="input" name="blood" type="text" maxlength="15" id="lastname" placeholder="Blood group (eg: O+)" required>
            <img id="sideimg" src = "https://cdni.iconscout.com/illustration/premium/thumb/sign-up-page-1886582-1598253.png"/>
            <br/>
            <!--DOB-->
            <input class="input" name="dob" type="date" id="date">
            <!--Contact-->
            <input class="input" name="contact" type="number" maxlength="10" id="phno" placeholder="Contact no." required>
            <br/>
            <!--E-mail ID-->
            <input class="input" name="email" type="text" id="email" placeholder="Email id" required >
            <br/>
            <br/>
            <!--buttons-->
            <input class= "btn" type="reset" value="Reset" id="rstbtn">
            <input class= "btn" type="submit" value="Submit" id="subbtn">

        </form>

    </body>

</html>

{% endblock %}