{% load static %}
{% block content %}

<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE html>
    <head>

        <title>Blood Bank | Login</title>
        <!--Referring the css style sheet, styles.css file-->
        <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    
    </head>

    <body>

        <!--Form to get user data-->
        <form id="form" action = "login" method = "post">

            {% csrf_token %}

            <h3 id="branding">Blood Bank</h3>
            <p id="heading">Enter credentials to login</p>
            <br/>
            <img id="sideimg" src = "https://imgr.search.brave.com/9oj1HoWaO-Q7j7viSXrlM1qoLup2cPi9HC4Kn4FRvAk/fit/626/626/ce/1/aHR0cHM6Ly9pbWFn/ZS5mcmVlcGlrLmNv/bS9mcmVlLXZlY3Rv/ci9sb2dpbi1jb25j/ZXB0LWlsbHVzdHJh/dGlvbl8xMTQzNjAt/NzM5LmpwZw"/>
            <!--E-mail ID-->
            <input class="input" name = "email" type="text" id="email" placeholder="Email ID" required >
            <br/>
            <!--Password-->
            <input class="input" name = "pass" type="password" id="password" maxlength="20" placeholder="Password" required>
            <br/>
            <!--Show password checkbox-->
            <input class="input" type="checkbox" id="shpass"> 
            <p id=shpasstext>Show password</p>
            <br/>
            <br/>
            <!--buttons-->
            <input class= "btn" onclick="location.href = '{% url 'signup' %}';" type="button" value="Signup" id="signupbtn">
            <input class= "btn" type="submit" value="Login" id="subbtn">

        </form>

    </body>

</html>

{% endblock %}