{% load static %}
{% block content %}

<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE html>
    <head>

        <title>Blood Bank | Signup</title>
        <!--Referring the css style sheet, styles.css file-->
        <link rel="stylesheet" href="{% static 'css/signup.css' %}" type="text/css">
    
    </head>

    <body>

        <!--Form to get user data-->
        <form id="form" action = "signup" method = "post">

            {% csrf_token %}

            <h3 id="branding">Blood Bank</h3>
            <p id="heading">Fill up the form to signup</p>
            <br/>
            <!--Profile pic-->
            <image id="profilepic" src="https://images.assetsdelivery.com/compings_v2/salamatik/salamatik1801/salamatik180100019.jpg" />
            <input id="imageupload" type="file" name="profile_photo" placeholder="Photo" capture>
            <br/><br/>
            <!--First name-->
            <input class="input" name= "fname" type="text" maxlength="10" id="firstname" placeholder="First name" required>
            <!--Last name-->
            <input class="input" name = "lname" type="text" maxlength="15" id="lastname" placeholder="Last name" required>
            <img id="sideimg" src = "https://cdni.iconscout.com/illustration/premium/thumb/sign-up-page-1886582-1598253.png"/>
            <br/>
            <!--DOB-->
            <input class="input" name = "dob" type="text" id="date" placeholder="DOB (DD/MM/YYYY)" required>
            <!--Contact-->
            <input class="input" name = "contact" type="number" maxlength="10" id="phno" placeholder="Contact no." required>
            <br/>
            <!--E-mail ID-->
            <input class="input" name = "email" type="text" id="email" placeholder="Email ID" required >
            <br/>
            <!--Password-->
            <input class="input" name = "pass" type="password" id="password" maxlength="20" placeholder="Password" required>
            <!--Confirm Password-->
            <input class="input" name = "conpass" type="password" id="password1" maxlength="20" placeholder="Confirm Password" required>
            <br/>
            <!--Password hint-->
            <p id="passhint">Use 8 or more characters with a mix of letters, numbers & symbols</p>
            <br/>
            <!--Show password checkbox-->
            <input class="input" type="checkbox" id="shpass"> 
            <p id=shpasstext>Show password</p>
            <br/>
            <br/>
            <!--buttons-->
            <input class= "btn" onclick="location.href = '{% url 'login' %}';" type="button" value="Login" id="loginbtn">
            <input class= "btn" type="submit" value="Submit" id="subbtn">

        </form>

    </body>

</html>

{% endblock %}